<!doctype html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <script src='https://code.highcharts.com/stock/highstock.js'></script>
    <script src='https://code.highcharts.com/stock/modules/exporting.js'></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
